<div *ngIf="user">
    <div class="row justify-content-center m-2">
        <input
            class="col-sm-5 form-control mr-2"
            type="text"
            [(ngModel)]="firstname"
            [disabled]="!this.editable"
        />
        <input
            class="col-sm-5 form-control"
            type="text"
            [(ngModel)]="lastname"
            [disabled]="!this.editable"
        />
    </div>
    <div class="row justify-content-center m-2">
        <input
            class="col-sm-5 form-control mr-2"
            type="text"
            [(ngModel)]="username"
            [disabled]="!this.editable"
        />
        <input
            class="col-sm-5 form-control"
            type="password"
            [(ngModel)]="password"
            [disabled]="!this.editable"
        />
    </div>
    <div class="row justify-content-center m-2">
        <div class="col-sm-2 custom-control custom-switch text-right">
            <input
                type="checkbox"
                class="custom-control-input"
                [id]="'switch' + user.id"
                (change)="changeEditable()"
            />
            <label class="custom-control-label" [for]="'switch' + user.id"
                >Editable</label
            >
        </div>
        <div class="col-sm-2 text-center">
            <button class="btn btn-outline-danger" (click)="deleteUser()">
                Delete
            </button>
        </div>
        <div class="col-sm-2 text-left">
            <button class="btn btn-outline-success" (click)="editUser()">
                Apply
            </button>
        </div>
    </div>
</div>
