.user-details-wrapper {
    border: 1px solid lightgray;
    border-radius: 8px;
}

p {
    font-size: large;
}

label {
    color: gray;
}

.password-btn:focus {
    outline: 0;
    box-shadow: none;
}
